table {
    border-collapse: collapse;
    border: 2px solid;
    letter-spacing: 1px;
}

th,
td {
    border: 1px solid;
    padding: 1rem;
    text-align: center;
}

thead tr,
tfoot tr {
    background-color: rgb(43, 40, 40);
    color: white;
    font-weight: 700;
}